In [2]:
#경로 테스트
ex1 = pd.read_csv("../DATA/Watson/watson_travel/travel_example{}.csv".format(0), header=None)
ex1

,0,1,2,3,4,5,6,7,8,9,...,221,222,223,224,225,226,227,228,229,230
0,0.832173,0.675622,0.995031,0.009569,0.94403,0.192706,0.935989,0.998418,0.995102,0.786297,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.5,1.0

In [3]:
import os

path = "../DATA/Watson/watson_travel/"
watson_travel_list = os.listdir(path)

In [4]:
watson_travel_list[0]

'travel_example0.csv'

In [ ]:
### 여기서부터 코딩 부탁해요:)

In [ ]:
csvs = {}

for i in range(len(watson_travel_list)):


    ex[] = pd.read_csv("../data_set/watson_travel/{}".format(watson_travel_list[i]), header=None)
    csvs.append(ex)
    pd.concat([ex1, ex2])

csvs