In [1]:
!ls ../mrt_nation_list.csv

../mrt_nation_list.csv

# 1. 국가 리스트 데이터 불러오기

In [2]:
nation_df = pd.read_csv("../mrt_nation_list.csv")

In [3]:
del nation_df["Unnamed: 0"]

In [4]:
nation_df

,nations,nations_url,continent,continental_region,nations_eng
0,네덜란드,/countries?key_name=Netherlands,유럽,서유럽,Netherlands
1,독일,/countries?key_name=Germany,유럽,서유럽,Germany
2,룩셈부르크,/countries?key_name=Luxembourg,유럽,서유럽,Luxembourg
3,모나코,/countries?key_name=Monaco,유럽,서유럽,Monaco
4,벨기에,/countries?key_name=Belgium,유럽,서유럽,Belgium
...,...,...,...,...,...
102,알제리,/countries?key_name=Algeria,아프리카,남태평양,Algeria
103,이집트,/countries?key_name=Egypt,아프리카,남태평양,Egypt
104,잠비아,/countries?key_name=Zambia,아프리카,남태평양,Zambia
105,케냐,/countries?key_name=Kenya,아프리카,남태평양,Kenya
106,탄자니아,/countries?key_name=Tanzania%2C+United+Republi...,아프리카,남태평양,Tanzania%2C+United+Republic+of

In [5]:
nation_df["continent"].value_counts()

유럽       41
아시아      30
아메리카     20
아프리카     10
오세아니아     6
Name: continent, dtype: int64

In [6]:
nation_df["continental_region"].value_counts()

중남미                    18
동유럽 / 발틱3국             14
남태평양                   13
남유럽 / 지중해 / 터키         11
서유럽                    11
동남아                    10
인도 / 중남아시아              7
중동                      6
북유럽                     5
홍콩 / 마카오 / 대만 / 싱가폴     4
호주 / 뉴질랜드               3
중국 / 일본                 2
미국 / 캐나다                2
국내                      1
Name: continental_region, dtype: int64

# 2. 도시 리스트 데이터 불러오기

In [7]:
city_df = pd.read_csv("../mrt_city_list.csv")

In [8]:
del city_df["Unnamed: 0"]

In [9]:
city_df

    nation_kor                    nation_eng city_name_eng city_name_kor
0         네덜란드                   Netherlands     Amsterdam         암스테르담
1         네덜란드                   Netherlands     Rotterdam          로테르담
2         네덜란드                   Netherlands         Hague           헤이그
3         네덜란드                   Netherlands     Giethoorn          히트호른
4         네덜란드                   Netherlands      Volendam           볼렌담
..         ...                           ...           ...           ...
777        이집트                         Egypt         Luxor           룩소르
778        잠비아                        Zambia   Livingstone          리빙스턴
779         케냐                         Kenya       Nairobi          나이로비
780       탄자니아  Tanzania,+United+Republic+of         Moshi            모시
781       탄자니아  Tanzania,+United+Republic+of        arusha           아루샤

[782 rows x 4 columns]

In [10]:
city_count = city_df["nation_kor"].value_counts()

In [11]:
city_count_df = pd.DataFrame(city_count)
city_count_df.loc[city_count_df["nation_kor"] >= 10, :]

       nation_kor
일본             62
대한민국           58
미국             49
독일             42
이탈리아           36
프랑스            33
스페인            28
중국             25
영국             25
인도             22
캐나다            19
호주             19
태국             16
베트남            14
멕시코            14
뉴질랜드           13
네덜란드           13
포르투갈           13
터키             12
스위스            12
필리핀            12
그리스            11
칠레             11
말레이시아          10
크로아티아          10
아이슬란드          10

In [12]:
nation_df

,nations,nations_url,continent,continental_region,nations_eng
0,네덜란드,/countries?key_name=Netherlands,유럽,서유럽,Netherlands
1,독일,/countries?key_name=Germany,유럽,서유럽,Germany
2,룩셈부르크,/countries?key_name=Luxembourg,유럽,서유럽,Luxembourg
3,모나코,/countries?key_name=Monaco,유럽,서유럽,Monaco
4,벨기에,/countries?key_name=Belgium,유럽,서유럽,Belgium
...,...,...,...,...,...
102,알제리,/countries?key_name=Algeria,아프리카,남태평양,Algeria
103,이집트,/countries?key_name=Egypt,아프리카,남태평양,Egypt
104,잠비아,/countries?key_name=Zambia,아프리카,남태평양,Zambia
105,케냐,/countries?key_name=Kenya,아프리카,남태평양,Kenya
106,탄자니아,/countries?key_name=Tanzania%2C+United+Republi...,아프리카,남태평양,Tanzania%2C+United+Republic+of

In [13]:
nations = nation_df["nations_eng"]
nations[:5]

0    Netherlands
1        Germany
2     Luxembourg
3         Monaco
4        Belgium
Name: nations_eng, dtype: object

# 3. 국가명에 따른 상품 코드와 기본 정보 가져오는 함수
### 함수 실행 순서 : get_url -> get_offer_info -> get_result_pd 순서로 실행된다.

In [14]:
import pandas as pd
import requests
import re

from scrapy.http import TextResponse

In [15]:
from bs4 import BeautifulSoup
from urllib.request import urlopen

### 전체 국가 107개

In [124]:
nation_names = nations[0:107]

In [125]:
nation_names

0                         Netherlands
1                             Germany
2                          Luxembourg
3                              Monaco
4                             Belgium
                    ...
102                           Algeria
103                             Egypt
104                            Zambia
105                             Kenya
106    Tanzania%2C+United+Republic+of
Name: nations_eng, Length: 107, dtype: object

### url 가져오는 함수

In [170]:
def get_url(name):
    
    url_base = "https://www.myrealtrip.com"
    
    urls = []
    for sel_nation in name:
        url_sub1 = "/offers?country={}".format(sel_nation)

        for page in range(1): ### 첫번째 페이지만 가져오기
            url_sub2 = url_sub1 + "&group_category=experience&order=reviews&page={}".format(page) ### order=reviews는 후기순
            url_sum = url_base + url_sub2
            urls.append(url_sum)
            
    return get_offer_info(urls) ### 첫번째 페이지의 html 정보를 가져오는 함수를 return

https://www.myrealtrip.com/offers?country=Netherlands&group_category=experience&order=reviews&page=2

### 페이지의 html 정보를 가져오는 함수

In [171]:
pd.DataFrame().append(pd.DataFrame([1]))

   0
0  1

In [172]:
def get_offer_info(urls):
    
    df = pd.DataFrame()
    try:
        for url in urls:
            html = urlopen(url)
            dom = BeautifulSoup(html, "html.parser")
            tmp_one = dom.find_all('script', 'js-react-on-rails-component')[1].get_text()
            info_dict = json.loads(tmp_one)
            offer_info = info_dict["offers"][:10] ### 첫번쨰 페이지에서 10개 상품만 가져오도록 설정
            df = df.append(get_result_pd(offer_info)) ### html 에서 json을 찾아내어 상품의 정보를 가져오는 함수로 보내고, DataFrame에 누적
    except:
        for url in urls:
            html = urlopen(url)
            dom = BeautifulSoup(html, "html.parser")
            tmp_one = dom.find_all('script', 'js-react-on-rails-component')[1].get_text()
            info_dict = json.loads(tmp_one)
            offer_info = info_dict["offers"] ### 페이지에 10개 미만의 여행 상품이 있을 경우 예외처리
            df = df.append(get_result_pd(offer_info))
        
    return df

### 페이지 내의 상품 코드와 간단한 정보를 가져오는 함수

In [173]:
def get_result_pd(offer_info):
    
    col_names = ["country","city_name", "code", "guide_type", "title"]
    
    dfs = []
    for x in offer_info:
        dfs.append({
            "country":x["country"]["key"],
            "city_name":x["city"]["key"],
            "code":x["id"],
            "guide_type":x["category"],
            "title":x["title"],
        })
        
    return pd.DataFrame(dfs, columns=col_names)

### get_url에 nation_names를 넣어서 실행하면, 
- 국가별 url을 가져오고,
- 국가별 url에서 후기순으로 정렬된 전체상품 페이지에서 html을 가져오고,
- 10개의 데이터에서 여행상품 정보를 가져와 DataFrame으로 출력해준다.

In [174]:
result = get_url(nation_names)
result.reset_index(drop=True, inplace=True)

In [175]:
result

,country,city_name,code,guide_type,title
0,France,Paris,53666,여행편의,"[공항유심] -더블데이터 프로모션 - KPN유심, TDC유심, 쓰리유심 ( 수령비 무료)"
1,Germany,Munchen,18727,여행편의,*반짝특가! 이게실화냐* 유럽 통합 40개국 플레이와이파이 포켓와이파이 + 보조배터리
2,Germany,Munchen,34163,여행편의,[플레이유심]데이터2배제공 이벤트중 KPN/쓰리/EU 유럽유심 (공항수령무료/출국전...
3,Germany,Dusseldorf,60636,여행편의,"[무료 배송] 유럽 유심 - EE/Three/KPN 유심 5종 / (영국 유심, 프..."
4,United Kingdom,London,66554,여행편의,"[인천공항 수령] 유럽 유심 - EE/Three 유심 3종 / (영국 유심, 프랑스..."
...,...,...,...,...,...
917,"Tanzania, United Republic of",Moshi,49568,가이드 투어,[투어] 탄자니아 야생동물 사파리 투어 (3일) :: 탄자니아/아루샤
918,"Tanzania, United Republic of",Moshi,49564,가이드 투어,[투어] 킬리만자로 트래킹 (3일) :: 탄자니아/모시
919,"Tanzania, United Republic of",Moshi,41643,가이드 투어,[투어] 세렝게티 야생동물 사파리 투어 (6일) :: 탄자니아/아루샤
920,"Tanzania, United Republic of",Moshi,41883,가이드 투어,[투어] 킬리만자로 트래킹/등반 (6일) :: 탄자니아/모시
921,"Tanzania, United Republic of",Moshi,41903,가이드 투어,[투어] 탄자니아 정부기관 맞춤 비즈니스 투어(모시/도도마/다르살렘) :: 탄자니아/모시

# CSV 로 저장

In [181]:
result.to_csv("./nation_city_offer_code_list.csv")

In [180]:
result.loc[result["country"] == "United Kingdom"]

,country,city_name,code,guide_type,title
4,United Kingdom,London,66554,여행편의,"[인천공항 수령] 유럽 유심 - EE/Three 유심 3종 / (영국 유심, 프랑스..."
5,United Kingdom,London,28484,여행편의,[말톡] 유럽유심 보다폰 쓰리 KPN 오렌지 등 전체 통신사 공항수령무료
17,United Kingdom,London,66554,여행편의,"[인천공항 수령] 유럽 유심 - EE/Three 유심 3종 / (영국 유심, 프랑스..."
23,United Kingdom,London,66554,여행편의,"[인천공항 수령] 유럽 유심 - EE/Three 유심 3종 / (영국 유심, 프랑스..."
29,United Kingdom,London,76622,여행편의,"[유럽 유심] Vodafone 유럽 통합유심 데이터 3GB, 10GB, 20GB /30일"
44,United Kingdom,London,66554,여행편의,"[인천공항 수령] 유럽 유심 - EE/Three 유심 3종 / (영국 유심, 프랑스..."
57,United Kingdom,London,66554,여행편의,"[인천공항 수령] 유럽 유심 - EE/Three 유심 3종 / (영국 유심, 프랑스..."
63,United Kingdom,London,66554,여행편의,"[인천공항 수령] 유럽 유심 - EE/Three 유심 3종 / (영국 유심, 프랑스..."
70,United Kingdom,London,1829,가이드 투어,[후기1400개] 코츠월드+옥스포드 #점심제공 #빠른입장 #옥코1위
71,United Kingdom,London,315,가이드 투어,런던의 과거와 현재를 탐방하는 시내 워킹투어
72,United Kingdom,London,11138,가이드 투어,#런던 1위 야경투어 #맥주한잔과 인생샷이 함께하는 로맨틱 야경투어 with PUB
73,United Kingdom,London,1867,가이드 투어,[후기1000개] 대영박물관 집중투어 - 베스트 셀러
74,United Kingdom,London,2246,가이드 투어,★브랜드대상1위/옥스포드+코츠월드(+비스터빌리지)/점심+해리포터 목도리 제공 (2만...
75,United Kingdom,London,40905,티켓/교통패스,런던 해리포터 스튜디오 입장권
76,United Kingdom,London,27564,가이드 투어,[세븐시스터즈+브라이튼]#런던1위#재미와 감동이 있는 소풍투어# 시즌특가 7만9천원
77,United Kingdom,London,27527,가이드 투어,#런던 로맨틱 야경투어# [런던소풍]가이드와 함께 안전하고 즐거운 야경투어와 인생사진!
86,United Kingdom,London,66554,여행편의,"[인천공항 수령] 유럽 유심 - EE/Three 유심 3종 / (영국 유심, 프랑스..."
114,United Kingdom,London,66554,여행편의,"[인천공항 수령] 유럽 유심 - EE/Three 유심 3종 / (영국 유심, 프랑스..."
116,United Kingdom,London,18962,여행편의,*유럽유심 특가 [플레이와이파이 플레이유심] KPN/쓰리/터키 유럽 통합 유심*
206,United Kingdom,London,66554,여행편의,"[인천공항 수령] 유럽 유심 - EE/Three 유심 3종 / (영국 유심, 프랑스..."
263,United Kingdom,London,66554,여행편의,"[인천공항 수령] 유럽 유심 - EE/Three 유심 3종 / (영국 유심, 프랑스..."
342,United Kingdom,London,66554,여행편의,"[인천공항 수령] 유럽 유심 - EE/Three 유심 3종 / (영국 유심, 프랑스..."
349,United Kingdom,London,66554,여행편의,"[인천공항 수령] 유럽 유심 - EE/Three 유심 3종 / (영국 유심, 프랑스..."
359,United Kingdom,London,66554,여행편의,"[인천공항 수령] 유럽 유심 - EE/Three 유심 3종 / (영국 유심, 프랑스..."
361,United Kingdom,London,18962,여행편의,*유럽유심 특가 [플레이와이파이 플레이유심] KPN/쓰리/터키 유럽 통합 유심*
363,United Kingdom,London,41544,티켓/교통패스,유레일패스 (연속/플렉시) *모든구간 예약 대행 수수료무료 Special 프로모션*
369,United Kingdom,London,66554,여행편의,"[인천공항 수령] 유럽 유심 - EE/Three 유심 3종 / (영국 유심, 프랑스..."
370,United Kingdom,London,18962,여행편의,*유럽유심 특가 [플레이와이파이 플레이유심] KPN/쓰리/터키 유럽 통합 유심*
389,United Kingdom,London,66554,여행편의,"[인천공항 수령] 유럽 유심 - EE/Three 유심 3종 / (영국 유심, 프랑스..."

# 4. 코드를 가져와서 세부 컨텐츠를 가져오는 함수
- 평점, 판매수, 상품소개, 리뷰갯수, 여행목적(company), 추천 연령대, 여행 추천 태그

### 나라별 10개씩 파싱한 상품 코드를 새로운 변수에 담아준다.

In [184]:
codes = result["code"]

In [185]:
codes

0      53666
1      18727
2      34163
3      60636
4      66554
       ...
917    49568
918    49564
919    41643
920    41883
921    41903
Name: code, Length: 922, dtype: int64

In [186]:
def get_content(code):
    
    col_names = ["id","score", "selling_count", "introduction", "reviews_count", "travel_purpose", "travel_age", "tag_list"]
    
    df = []
    for idx in code:
        print("=",end="")
        url_2 = "https://www.myrealtrip.com/offers/{}".format(idx)
        html = urlopen(url_2)
        dom = BeautifulSoup(html, "html.parser")
        tmp_one = dom.find_all('script', 'js-react-on-rails-component')[1].get_text()
        content_dict = json.loads(tmp_one)
        content_info = content_dict["offerInfo"]
        
        df.append({
            "id":content_info["id"],
            "score":content_info["score"],
            "selling_count":content_info["selling_count"],
            "introduction":content_info["introduction"],
            "reviews_count":content_info["total_traveler_reviews"],
            "travel_purpose":content_info["preferred_travel_concept"],
            "tag_list":content_info["tag_list"],
        })

    return pd.DataFrame(df, columns=col_names)

### 코드 리스트의 코드를 가져와서 상품의 세부페이지 정보를 DataFrame으로 출력해준다.

In [188]:
result_content = get_content(codes)

==========================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================

In [189]:
result_content

,id,score,selling_count,introduction,reviews_count,travel_purpose,travel_age,tag_list
0,53666,4.409020,3179,[ 구매 시 꼭 확인하세요 ]\r\n\r\n1. 상품안내\r\n\r\n** 인천공...,643,"{'purpose': 'etc', 'age_group': '50'}",NaN,"[통역/비즈니스, 로컬투어]"
1,18727,4.123636,2546,"[인천 1, 2터미널 , 김해, 김포] 유럽 플레이와이파이 포켓와이파이 \r\n★ ...",550,"{'purpose': 'lover', 'age_group': '30'}",NaN,[로컬투어]
2,34163,4.372439,2401,서비스명 : 유럽 통합 유심 플레이유심 (공항수령 무료)\r\n\r\n** 국내 ...,537,"{'purpose': 'friends', 'age_group': '20'}",NaN,[]
3,60636,4.252083,3366,※ 유효기간 안내 ※\r\nKPN 유심 데이터 4GB(2020.08.31)\r\nK...,480,"{'purpose': 'honeymoon', 'age_group': '20'}",NaN,[]
4,66554,4.313107,2544,[인천공항 1T 수령] 유럽 유심 - EE/Three 유심 3종\r\n[인천공항 1...,412,"{'purpose': 'parents', 'age_group': '30'}",NaN,[]
...,...,...,...,...,...,...,...,...
917,49568,0.000000,0,아프리카를 체험할 수 있는 탄자니아 국립공원... \r\n\r\n끝이 보이지 않는 ...,0,None,NaN,"[국립공원, 캠핑]"
918,49564,0.000000,0,"아프리카를 체험할 수 있는 킬리만자로...\r\n\r\n아프리카 대륙의 최고봉(5,...",0,None,NaN,"[국립공원, 캠핑]"
919,41643,0.000000,0,아프리카를 체험할 수 있는 킬리만자로 세렝게티 국립공원\r\n\r\n끝이 보이지 않...,0,None,NaN,"[국립공원, 캠핑]"
920,41883,0.000000,0,아프리카를 체험할 수 있는 킬리만자로... 세렝게티...\r\n\r\n아프리카 대륙...,0,None,NaN,"[국립공원, 캠핑]"
921,41903,0.000000,0,"동부 아프리카의 중심국가이며, 인도양을 접하고 있어 아프리카 무역의 거점인 탄자니아...",0,None,NaN,"[시티투어, 통역/비즈니스]"

# CSV 파일로 저장

In [190]:
result_content.to_csv("./code_content.csv", index=False)

In [191]:
result

,country,city_name,code,guide_type,title
0,France,Paris,53666,여행편의,"[공항유심] -더블데이터 프로모션 - KPN유심, TDC유심, 쓰리유심 ( 수령비 무료)"
1,Germany,Munchen,18727,여행편의,*반짝특가! 이게실화냐* 유럽 통합 40개국 플레이와이파이 포켓와이파이 + 보조배터리
2,Germany,Munchen,34163,여행편의,[플레이유심]데이터2배제공 이벤트중 KPN/쓰리/EU 유럽유심 (공항수령무료/출국전...
3,Germany,Dusseldorf,60636,여행편의,"[무료 배송] 유럽 유심 - EE/Three/KPN 유심 5종 / (영국 유심, 프..."
4,United Kingdom,London,66554,여행편의,"[인천공항 수령] 유럽 유심 - EE/Three 유심 3종 / (영국 유심, 프랑스..."
...,...,...,...,...,...
917,"Tanzania, United Republic of",Moshi,49568,가이드 투어,[투어] 탄자니아 야생동물 사파리 투어 (3일) :: 탄자니아/아루샤
918,"Tanzania, United Republic of",Moshi,49564,가이드 투어,[투어] 킬리만자로 트래킹 (3일) :: 탄자니아/모시
919,"Tanzania, United Republic of",Moshi,41643,가이드 투어,[투어] 세렝게티 야생동물 사파리 투어 (6일) :: 탄자니아/아루샤
920,"Tanzania, United Republic of",Moshi,41883,가이드 투어,[투어] 킬리만자로 트래킹/등반 (6일) :: 탄자니아/모시
921,"Tanzania, United Republic of",Moshi,41903,가이드 투어,[투어] 탄자니아 정부기관 맞춤 비즈니스 투어(모시/도도마/다르살렘) :: 탄자니아/모시

# 5. 처음 파싱한 국가별 코드 데이터에서 코드가 중복인 것 정리

In [192]:
result = result.drop_duplicates('code', keep='first')

In [193]:
result

,country,city_name,code,guide_type,title
0,France,Paris,53666,여행편의,"[공항유심] -더블데이터 프로모션 - KPN유심, TDC유심, 쓰리유심 ( 수령비 무료)"
1,Germany,Munchen,18727,여행편의,*반짝특가! 이게실화냐* 유럽 통합 40개국 플레이와이파이 포켓와이파이 + 보조배터리
2,Germany,Munchen,34163,여행편의,[플레이유심]데이터2배제공 이벤트중 KPN/쓰리/EU 유럽유심 (공항수령무료/출국전...
3,Germany,Dusseldorf,60636,여행편의,"[무료 배송] 유럽 유심 - EE/Three/KPN 유심 5종 / (영국 유심, 프..."
4,United Kingdom,London,66554,여행편의,"[인천공항 수령] 유럽 유심 - EE/Three 유심 3종 / (영국 유심, 프랑스..."
...,...,...,...,...,...
917,"Tanzania, United Republic of",Moshi,49568,가이드 투어,[투어] 탄자니아 야생동물 사파리 투어 (3일) :: 탄자니아/아루샤
918,"Tanzania, United Republic of",Moshi,49564,가이드 투어,[투어] 킬리만자로 트래킹 (3일) :: 탄자니아/모시
919,"Tanzania, United Republic of",Moshi,41643,가이드 투어,[투어] 세렝게티 야생동물 사파리 투어 (6일) :: 탄자니아/아루샤
920,"Tanzania, United Republic of",Moshi,41883,가이드 투어,[투어] 킬리만자로 트래킹/등반 (6일) :: 탄자니아/모시
921,"Tanzania, United Republic of",Moshi,41903,가이드 투어,[투어] 탄자니아 정부기관 맞춤 비즈니스 투어(모시/도도마/다르살렘) :: 탄자니아/모시

# 6. 상품 세부 데이터에서 코드가 중복인 것 정리

In [196]:
result_content = result_content.drop_duplicates('id', keep='first')

In [197]:
result_content

,id,score,selling_count,introduction,reviews_count,travel_purpose,travel_age,tag_list
0,53666,4.409020,3179,[ 구매 시 꼭 확인하세요 ]\r\n\r\n1. 상품안내\r\n\r\n** 인천공...,643,"{'purpose': 'etc', 'age_group': '50'}",NaN,"[통역/비즈니스, 로컬투어]"
1,18727,4.123636,2546,"[인천 1, 2터미널 , 김해, 김포] 유럽 플레이와이파이 포켓와이파이 \r\n★ ...",550,"{'purpose': 'lover', 'age_group': '30'}",NaN,[로컬투어]
2,34163,4.372439,2401,서비스명 : 유럽 통합 유심 플레이유심 (공항수령 무료)\r\n\r\n** 국내 ...,537,"{'purpose': 'friends', 'age_group': '20'}",NaN,[]
3,60636,4.252083,3366,※ 유효기간 안내 ※\r\nKPN 유심 데이터 4GB(2020.08.31)\r\nK...,480,"{'purpose': 'honeymoon', 'age_group': '20'}",NaN,[]
4,66554,4.313107,2544,[인천공항 1T 수령] 유럽 유심 - EE/Three 유심 3종\r\n[인천공항 1...,412,"{'purpose': 'parents', 'age_group': '30'}",NaN,[]
...,...,...,...,...,...,...,...,...
917,49568,0.000000,0,아프리카를 체험할 수 있는 탄자니아 국립공원... \r\n\r\n끝이 보이지 않는 ...,0,None,NaN,"[국립공원, 캠핑]"
918,49564,0.000000,0,"아프리카를 체험할 수 있는 킬리만자로...\r\n\r\n아프리카 대륙의 최고봉(5,...",0,None,NaN,"[국립공원, 캠핑]"
919,41643,0.000000,0,아프리카를 체험할 수 있는 킬리만자로 세렝게티 국립공원\r\n\r\n끝이 보이지 않...,0,None,NaN,"[국립공원, 캠핑]"
920,41883,0.000000,0,아프리카를 체험할 수 있는 킬리만자로... 세렝게티...\r\n\r\n아프리카 대륙...,0,None,NaN,"[국립공원, 캠핑]"
921,41903,0.000000,0,"동부 아프리카의 중심국가이며, 인도양을 접하고 있어 아프리카 무역의 거점인 탄자니아...",0,None,NaN,"[시티투어, 통역/비즈니스]"

In [198]:
result_content.iloc[0, 3]

'[ 구매 시 꼭 확인하세요 ]\r\n\r\n1. 상품안내\r\n\r\n**  인천공항 씨티,sm면세점 - 현금처럼 사용가능한 1만원($30이상 구매시 사용가능) 쿠폰 제공됩니다. - 심카드와 같이 드려요!\r\n**  주류, 담배 포함입니다.  - 담배는 2보루 구매시 1만원 할인되세요 !!\r\n\r\n1 - 1. 유럽유심 터키 + 36개국 1GB 15일 \r\n      -  터키가 되는 유럽 유심\r\n      -  데이터 전용 / 통화 문자 불가\r\n      -  유럽일정이 짧은 분, 저렴한 유럽 유심 찾는 분께 추천 드려요\r\n\r\n* 유럽유심 터키+36개국 사용가능 국가 \r\n터키, 영국, 독일, 이탈리아, 네덜란드, 스위스, 스페인, 프랑스, 모나코, 벨기에, 오스트리아, 덴마크, \r\n노르웨이, 스웨덴, 아이슬란드, 핀란드, 몰타, 룩셈부르크, 아일랜드, 그리스, 포르투갈, 폴란드, \r\n체코, 헝가리, 루마니아, 불가리아, 키프로스, 에스토니아, 라트비아, 리투아니아, 크로아티아, \r\n슬로바키아, 슬로베니아, 리히텐슈타인\r\n(주의!)  - 러시아, 보스니아, 세르비아, 모로코는 사용 불가입니다.\r\n\r\n1 - 2. KPN 유심   -  데이터 프로모션 진행중\r\n      - 전 유럽 4G LTE 속도 + 유럽 통화 60분  [우버 가능해요]\r\n      -  유럽 내 가장 빠른 속도 + 유럽통화 60분  - 고퀄리티 우수한  품질!! \r\n\r\n   * 더블 데이터 프로모션  진행중 4GB -> 6GB / 8GB -> 12GB  사용 가능해요! \r\n   * 프로모션 추가 데이터 사용을 원하시면 한국에서 미리 위챗앱을 가입해주세요.\r\n      (한국에서 미리 위챗앱 가입하셔야 하며 가입 불가의 경우 저희가 도움 드릴 수 없습니다. 주문 전 미리 확인해주세요)\r\n   * 방법은 공항유심센터 홈페이지 유럽에서 KPN 유심 페이지에 안내되어 있습니다! \r\n   *  kpn 더블데이터 프로모션은 반드시 네이버에서 "kpn 데이터 프로모션 하는 법"을 검색 후 공항유심센터 블로그 글을 보셔야 합니다.\r\n\r\n  -  미리 안하시면 후회해요! - 심카드만 교체하면 자동 개통 !!\r\n  -  유럽 내 가장 빠른 속도  + 유럽 통화 60분까지   \r\n  -  유럽 도착 후 교체 시점부터 28일간 사용 가능해요.\r\n  -  유럽은 한국처럼 통신환경이 안좋아 공항, 건물지하,  지하철, 건물안에서 데이터가 잘 안되세요 !\r\n  -  인천공항의 10개 북스토어 매장에서 줄서지않고 편하게 수령 가능해요!\r\n\r\n * 꼭 !! 기억하세요\r\n  자동으로 안되거나 속도가 느리면 사용설명서를 보시고 수동으로 설정을 잡아주시면\r\n  빠른 속도로 가능합니다!!\r\n*  KPN유심 사용 가능 국가 - 유럽 39개국\r\n영국, 독일, 이탈리아, 네덜란드, 스위스, 스페인, 프랑스, 벨기에, 오스트리아, 덴마크, \r\n노르웨이, 스웨덴, 아이슬란드, 핀란드, 몰타, 룩셈부르크, 아일랜드, 그리스, 포르투갈, 폴란드, \r\n체코, 헝가리, 루마니아, 불가리아, 키프로스, 에스토니아, 라트비아, 리투아니아, 크로아티아, \r\n슬로바키아, 슬로베니아, 리히텐슈타인,  지브롤터. 카나리아제도, 바티칸시티, 마데이라\r\n아조레스제도, 코르시카, 산마리노, 사르데냐\r\n(주의!)  - 러시아, 터키, 보스니아, 세르비아, 모로코는 사용 불가입니다.\r\n\r\n1 - 3.  TDC유심  -  전 유럽 4G LTE 속도 + 유럽통화 30분 [덴마크 NO.1 통신사 !]\r\n\r\n * 덴마크 NO.1 통신사의 빠르고 안정적인 데이터 품질 !\r\n -  4G LTE 속도 + 유럽 내 같은 국가 30분 무료 통화.\r\n -  유럽에서 심카드 교체 후 30일간 사용 가능해요.\r\n -  스웨덴 국가번호 + 45 ....... 현지 전화번호가 부여되며, 심카드 뒷면에 안내되어 있어요.\r\n -  유럽은 한국처럼 통신환경이 안좋아 지하나 지하철, 건물안에서 데이터가 잘 안되세요 !\r\n -  인천공항의 10개 북스토어 매장에서 줄서지않고 편하게 수령 가능해요!\r\n\r\n * 꼭 !! 기억하세요\r\n  자동으로 안되거나 속도가 느리면 사용설명서를 보시고 수동으로 설정을 잡아주시면\r\n  빠른 속도로 가능합니다!!\r\n\r\n* TDC유심 사용가능 국가 \r\n영국, 독일, 이탈리아, 네덜란드, 스위스, 스페인, 프랑스, 모나코, 벨기에, 오스트리아, 덴마크, \r\n노르웨이, 스웨덴, 아이슬란드, 핀란드, 몰타, 룩셈부르크, 아일랜드, 그리스, 포르투갈, 폴란드, \r\n체코, 헝가리, 루마니아, 불가리아, 키프로스, 에스토니아, 라트비아, 리투아니아, 크로아티아, \r\n슬로바키아, 슬로베니아, 리히텐슈타인, 채널제도, 맨섬, 지브롤터.\r\n(주의!)  - 러시아, 터키, 보스니아, 세르비아, 모로코는 사용 불가입니다.\r\n\r\n1 - 4.  쓰리유심  - 전 유럽 3G/4G(일부) 속도 + 유럽 내 3,000분\r\n\r\n-  유럽 내 가장 많은 데이터 용량 + 유럽 내 통화 3,000분.\r\n-  10GB 유럽 통화 3,000분 / 문자 3,000건 \r\n-  12GB (영국 외 9GB) 유럽 통화 3,000분 / 문자 3,000건\r\n-  총 30일간 사용 (연장 불가)  -  핫스팟 / 테더링 불가!\r\n-  유럽은 한국처럼 통신환경이 안좋아 지하나 지하철, 건물안에서 데이터가 잘 안되세요 !\r\n-  인천공항의 10개 북스토어 매장에서 줄서지않고 편하게 수령 가능해요!\r\n\r\n※ Three유심  사용 가능 국가   -  유럽\r\n영국, 독일, 이탈리아, 네덜란드, 스위스, 스페인, 프랑스, 벨기에, 오스트리아, 덴마크, 노르웨이, \r\n스웨덴, 아이슬란드, 핀란드, 몰타, 룩셈부르크, 아일랜드, 그리스, 포르투갈, 폴란드, 체코, \r\n헝가리, 루마니아, 불가리아, 키프로스, 에스토니아, 라트비아, 리투아니아, 크로아티아, \r\n슬로바키아, 슬로베니아, 리히텐슈타인, 채널제도, 맨섬, 지브롤터\r\n\r\n※ Three유심 비 유럽국가  - [데이터전용 / 전화 안되요]\r\n홍콩, 마카오, 싱가포르, 인도네시아, 스리랑카, 호주, 뉴질랜드, 이스라엘, 미국, 과달루페, \r\n과테말라, 니카라과, 마르티니크, 미국령 버진아일랜드,  생바르텔레미, 세인트마틴섬, 브라질, \r\n엘살바도르, 우루과이, 칠레, 코스타리카, 콜롬비아, 파나마, 페루, 푸에르토리코, 프랑스령기아나\r\n(주의!) 러시아, 터키, 보스니아, 세르비아, 모로코는 사용 불가입니다.\r\n\r\n*사용 가능 스마트폰 안내* \r\n갤럭시 S5 / 노트4 / LG G4 / 아이폰5 이상 \r\n갤럭시 A 시리즈 \r\n갤럭시 J5, J7 \r\n\r\n* LG X시리즈 및 위에 나열되지 않은 안드로이드 폰은 구매를 추천하지 않습니다. \r\n스마트폰 기종 호환 문제로 사용을 못 하셨을 경우에 환불 진행은 불가하니 구매에 신중히 결정해 주세요.\r\n\r\n2. 사용하시는 통신사(SKT, KT, LGU+)에서 데이터 로밍 차단 서비스를 해지해 주세요.\r\n3. 유럽 통합 유심을 삽입하고 사용하시면 절대 추가적인 로밍 비용이 발생하지 않습니다.\r\n안심하고 현지에서 유럽 통합 유심으로 교체 후 데이터 로밍을 켜시고 사용하시면 됩니다.\r\n4. 한국에서 유심 삽입 시 삽입한 날로부터 1일 차로 시작됩니다.\r\n\r\n[ 수령 안내 ]\r\n* 날짜는 공항에서 받으시는 날짜로 선택해주세요.\r\n* 1. 공항유심센터, 2. 성함, 3. 전화번호를 알려주시고 수령하시면 됩니다. (별도의 바우처, E-Ticket 불필요)\r\n* 인천공항  제 1,2터미널 10개의 북스토어(서점) 원하시는 매장 아무 곳에서 수령하세요.\r\n-  출국장뿐만 아니라 면세점&탑승동에도 매장이 있습니다.\r\n-  제 1터미널에 총 8개 매장, 제 2터미널에 총 2개 매장이 있습니다.\r\n\r\n[ 왜  공항 유심센터인가요? ]\r\n1. 당일 예약 없이 공항에서 줄서지 않고 현장구매가 가능합니다.\r\n2. 수령할 수 있는 매장이 무려 10곳! 원하는 매장 아무 곳에서나 수령할 수 있어요.\r\n3. 연중무휴 365일 오전 9시부터 자정까지 고객센터를 운영하고 있습니다.\r\n    상품문의, 현지에서 사용 불편 등을 겪으시면 카톡 친구추가 : 공항유심센터로 언제든지 연락주세요'

# 7. 상품 리뷰 가져오는 함수
- html 구조상 beautifulsoup 기능으로는 ㅡ리뷰 데이터의 "더보기" 버튼 누르기전 첫 3개만 가져올 수 있다.

In [4]:
!ls ./

chromedriver.exe
code_content.csv
content_0_25.csv
Crawling.ipynb
crawling_reviews.ipynb
mrt_�굹�씪蹂� 肄붾뱶 異붽��濡� �겕濡ㅻ쭅.ipynb
nation_city_offer_code_list.csv
Untitled.ipynb

### code 데이터 불러오기

In [13]:
code = pd.read_csv("nation_city_offer_code_list.csv")
del code["Unnamed: 0"]

In [14]:
code_list = code["code"]
code_list = pd.DataFrame(code_list)
code_list

      code
0    53666
1    18727
2    34163
3    60636
4    66554
..     ...
917  49568
918  49564
919  41643
920  41883
921  41903

[922 rows x 1 columns]

In [15]:
code_list["count"] = 1
code_list

      code  count
0    53666      1
1    18727      1
2    34163      1
3    60636      1
4    66554      1
..     ...    ...
917  49568      1
918  49564      1
919  41643      1
920  41883      1
921  41903      1

[922 rows x 2 columns]

In [16]:
code_groupby = code_list.groupby("code").sum()
code_groupby = code_groupby.sort_values(by="count", ascending=False)

In [17]:
code_groupby

       count
code
53666     27
34163     26
35342     21
66554     15
60636     15
...      ...
27491      1
27527      1
27564      1
27598      1
83128      1

[738 rows x 1 columns]

### 코드 리스트에서 중복된 코드 제거

In [18]:
code_final = code_list.drop_duplicates('code', keep='first')
code_final.reset_index(drop=True, inplace=True)

In [19]:
code_final["code"]

0      53666
1      18727
2      34163
3      60636
4      66554
       ...
733    49568
734    49564
735    41643
736    41883
737    41903
Name: code, Length: 738, dtype: int64

In [31]:
codes = code_final["code"][0:]
codes

0      53666
1      18727
2      34163
3      60636
4      66554
       ...
733    49568
734    49564
735    41643
736    41883
737    41903
Name: code, Length: 738, dtype: int64

In [32]:
import pandas as pd
import requests
import re

from scrapy.http import TextResponse

In [33]:
from bs4 import BeautifulSoup
from urllib.request import urlopen

### 상품 페이지로 이동하기 위해 코드가 포함 된 url을 만들고 이동하여 html 데이터를 가져오는 함수

In [34]:
def get_review(codes):
    
    df = pd.DataFrame()
    for idx in codes:  
        print(idx, end=" ")
        url = "https://www.myrealtrip.com/offers/{}".format(idx)
        html = urlopen(url)
        dom = BeautifulSoup(html, "html.parser")
        tmp_one = dom.find_all('script', 'js-react-on-rails-component')[1].get_text()
        content_dict = json.loads(tmp_one)
        review_info = content_dict["reviews"]
        df = df.append(get_result_pd(review_info, idx))
    
    return df

### html 데이터에서 상품 코드와 리뷰랄 가져와 DataFrame 으로 출력하는 함수

In [35]:
def get_result_pd(review_info, idx):
    col_names = ["code", "review_1"]
    datas = []
    for x in review_info:
        datas.append({
            "code":idx,
            "review_1":x["message"].replace("\n", ""),
        })

    return pd.DataFrame(datas, columns=col_names)

### 738개 코드의 리뷰 3개씩 가져오도록 실행

In [36]:
result_1 = get_review(codes)

53666 18727 34163 60636 66554 28484 2122 1474 34700 460 8693 12350 3108 1899 29102 53676 35342 7782 30767 34186 76622 50891 50896 50894 38847 13724 10423 81298 81296 77139 5929 19954 3554 18032 5097 35776 62071 29382 26442 8768 14457 14318 26780 10116 46016 14235 1829 315 11138 1867 2246 40905 27564 27527 48505 1562 67040 18661 2007 2398 7511 470 4725 5638 2114 7212 32691 6349 2654 5047 7366 10322 48868 2821 53690 32624 37376 61875 41487 18962 30028 30027 9054 13919 22345 77052 77051 77050 77047 77046 77040 77039 77049 47381 45020 58667 34416 73602 73284 62035 58646 37577 51399 25575 52976 34439 34438 34437 34436 34434 79729 62653 2509 27814 27915 34188 11407 8657 6559 7608 1334 6312 16588 7220 11701 15057 38211 5087 34867 34868 77818 77817 77816 77815 77814 77824 77811 76722 43691 42665 14922 51215 7787 55229 7795 3608 62526 36982 47103 45262 32452 48672 36308 33556 53192 14231 58965 78497 78494 78486 78483 78481 78475 65811 55623 52325 46801 55609 8490 1476 1297 37726 16081 9696 42480 34407 42575 16495 24616 57624 14538 14458 2632 57532 57625 41412 34409 78545 78544 78537 78524 78521 78546 78547 29260 29239 39841 10360 39840 18893 29266 44044 44045 44047 44043 45707 17333 79995 77879 77878 27491 29235 55171 58826 52022 34727 34729 38135 34759 54195 52198 38145 79310 79308 79307 79306 61789 72633 80129 80127 80126 80125 80122 78117 78121 78123 8686 8682 9910 8394 4752 27716 10188 42485 35058 10171 26810 26811 24932 22204 18588 24314 18700 35176 27032 25822 48669 5675 22442 18098 41544 33611 14887 56472 14977 36900 26969 26964 47351 26966 47344 36467 65335 49425 55064 50903 38030 45935 24588 24609 46376 46415 43233 43230 12103 38933 18453 18232 33455 48955 41521 65360 31243 44560 53609 33008 73748 12564 36844 59560 39490 39485 38924 38560 20794 18756 16171 29964 15770 22390 28423 34166 25314 27903 39172 37561 64815 81343 81291 81297 81285 81261 78171 78125 75215 64814 37352 27405 56283 43460 37208 37899 36362 32102 37327 313 21312 46308 61662 21301 50577 59787 38589 28403 22031 10453 38379 36590 22027 6242 22389 13026 19986 25334 22397 22330 29473 17958 21785 5801 21940 34891 1874 31478 5523 24860 25367 34325 37886 22405 55105 18414 28409 39381 18728 49211 17744 43365 33020 6624 70816 20291 20284 72728 14828 10117 19764 55119 18451 20834 32087 33038 29851 59178 59177 5199 41904 24665 63522 5201 3501 24569 11748 54720 63596 53321 59179 17701 40422 61683 16023 29310 32768 27201 29313 15456 27385 62691 27437 9911 38786 25800 27598 60854 27447 26691 27033 78151 78150 78149 78148 78146 78145 78143 78142 78140 34715 60664 58968 58967 58966 34717 34716 77575 77579 38628 32941 32879 7671 66035 42035 42034 26191 48285 43663 7642 79683 79682 49881 39121 49884 36011 49882 36012 36009 58986 39434 21606 20870 20867 20772 20768 75776 65881 58988 28407 46251 46732 59065 54958 56233 65129 62156 56364 81696 81688 75808 35787 35786 15722 63289 35791 35788 15683 83128 82526 17316 27836 27825 20220 33160 3172 2369 20018 57352 15749 7063 60509 30519 31845 13365 34812 26548 66557 13351 26002 77809 77807 26213 16296 16289 16200 59101 59109 59106 59111 59107 59103 59102 59108 35294 35292 31410 35494 4569 5872 19092 29453 4377 16035 16041 16039 16032 53790 28450 28452 41593 45906 43011 51332 36491 18794 76750 76762 76761 76748 27679 36500 5784 45972 66033 58695 45976 43156 39901 77553 9985 33501 10479 11205 56202 35634 27063 11119 77671 77670 77668 77676 77666 77673 77665 77667 77669 77672 79974 79850 35402 75499 79287 79285 79137 18629 16149 18635 18398 18400 18617 18626 18634 18633 36025 77612 77664 77637 77634 77633 77632 77663 77662 40546 39098 39089 48618 39094 79635 79633 77802 77797 77795 77806 77805 77804 77801 77798 77796 49581 35648 35641 78076 77065 77067 77066 77063 46764 45970 38603 44710 43212 18162 29100 6120 54853 66591 11314 12238 18452 25200 12635 11254 32119 12309 26109 17838 22627 17909 25610 7864 7878 24366 18206 36537 24648 20199 24584 11030 24601 24605 28578 31100 31129 31103 31113 31096 61983 62896 60581 61372 60582 77696 75785 17291 25820 15510 35739 35736 15384 47283 26884 10600 43128 15883 15868 10639 70176 43131 16126 15784 53219 53214 53207 53205 53206 54733 53216 75759 27625 46058 36473 36474 35729 46060 42623 27627 46232 46067 77854 77845 77842 77841 77839 77840 77843 77844 77847 77849 36108 75754 66032 48333 36492 36110 36109 21092 49568 49564 41643 41883 41903

### 코드에 해당하는 리뷰데이터가 3개의 dict 로 나누어져 있어서, 한 코드의 3개의 행이 만들어 진다.

In [37]:
result_1

     code                                           review_1
0   53666                      좋긴 한데 어느 유심이나 그렇듯 3G 전환이 잦습니다
1   53666                                            잘 터져요!!
2   53666                                         굿!!!!!!!!!
0   18727  유럽은 원래 와이파이가 좀 느릴 수 있다고 알고 있었는데 우리나라보단 확실히 느리지...
1   18727          파리에서 사용했는데 전날 충전해 놓고 아침부터 하루종일 잘 사용했어요 :)
..    ...                                                ...
0   27627                                                좋아요
1   27627  생각보다 너무 오래타야해서 손이 아팠어요ㅠ 그리고 배두인 마을이 아니라 그냥 배두인...
0   46232    친절한 가이드와 자세한 역사적인 설명을 들을 수 있었던 시간이었습니다. 추천드립니다.
0   46067  예약자 두명과 운전기사 한명, 가이드 한명 총네명이 승용차에 타고 피라미드를 보러가...
0   36108  TV에서 보는것처럼 들판을 들리며 동물과 함께 한다는 기대를 하면 안되요.길따라 다...

[1393 rows x 2 columns]

### 3개의 행으로 나누어진 리뷰를 하나의 코드로 합치는 코드

In [38]:
data = []
for z in codes:
    data.append({"code":z,
                 "review":result_1.loc[result_1["code"] == z, "review_1"].sum()})

In [40]:
code_review = pd.DataFrame(data, columns=["code", "review"])
code_review

      code                                             review
0    53666     좋긴 한데 어느 유심이나 그렇듯 3G 전환이 잦습니다잘 터져요!!굿!!!!!!!!!
1    18727  유럽은 원래 와이파이가 좀 느릴 수 있다고 알고 있었는데 우리나라보단 확실히 느리지...
2    34163  kpn으로 5+5기가로 구매했는데 런던/동유럽에서는 잘터졌지만 스페인에서는 조금 느...
3    60636  처음에 유심 끼우고 잡는데 시간이 걸리긴 하는데 그 이후로는 문제없이 잘쓰고 다녔습...
4    66554  연결이 잘됩니다.데이터 용량이 큽니다.KPN 유심칩을 사용하였습니다. 지하철, 건물...
..     ...                                                ...
733  49568                                                  0
734  49564                                                  0
735  41643                                                  0
736  41883                                                  0
737  41903                                                  0

[738 rows x 2 columns]

# CSV 파일로 저장

In [41]:
code_review.to_csv("./code_review.csv", index=False)