In [39]:
df_travel = pd.read_csv("../DATA/TRAVEL/mrt_df_final.csv")
len(df_travel)

738

In [41]:
df_travel['drop']=''
for i in range(len(df_travel)):
    
    if "유심" in df_travel['title'][i]:
        df_travel['drop'][i] = "Y"
    elif "픽업" in df_travel['title'][i]:
        df_travel['drop'][i] = "Y"
    elif "와이파이" in df_travel['title'][i]:
        df_travel['drop'][i] = "Y"
    else:
        df_travel['drop'][i] = "N"

C:\Users\shine\Anaconda3\envs\fc\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\shine\Anaconda3\envs\fc\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\shine\Anaconda3\envs\fc\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\shine\Anaconda3\envs\fc\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [42]:
len(df_travel)

738

In [43]:
df_travel_clean = df_travel[df_travel['drop'] == "N"].reset_index()

In [44]:
df_travel_clean = df_travel_clean.drop('index', axis=1)

In [45]:
len(df_travel_clean)

660

In [46]:
df_travel_clean2 = df_travel_clean[df_travel_clean['score'] >= 3.0].reset_index()
df_travel_clean3 = df_travel_clean2.drop('index', axis=1)
df_travel_clean3

,code,country,city_name,score,selling_count,reviews_count,guide_type,title,intro,review,travel_purpose,purpose,age_group,drop
0,2122,Netherlands,Amsterdam,4.73,231,84,가이드 투어,국립박물관과 고흐 미술관 대표작 설명,국립박물관은 렘브란트(Rermbrandt)의 대표작 '야경꾼'을 전시하기 위한 목적...,좋긴 좋았습니다. 가이드님이 없었으면 중요 작품들이 무엇인지 알지 못했으니까요. 하...,"{'purpose': 'etc', 'age_group': '30'}",etc,30,N
1,1474,Netherlands,Amsterdam,4.61,160,49,가이드 투어,암스테르담 시내 워킹투어,암스테르담은 네덜란드의 수도로서 운치와 분위기가 있는 도시입니다.그럼에도 불구하고 ...,두명이서 다녔는데 시간을 알차게 계획하시구 또 전문성있게 잘 설명해주셔서 재밌었습니...,"{'purpose': 'official', 'age_group': '30'}",official,30,N
2,34700,Netherlands,Amsterdam,4.95,104,43,가이드 투어,네덜란드 암스테르담 시내 실속 워킹투어,암스테르담을 실속있게 둘러볼 수 있는 투어입니다. 레이오버로 암스테르담에 잠깐 들...,암스테르담에 오시면 꼭꼭 들어보기를 추천드려요! 머무르는 기간이 짧든 길든 특히 첫...,"{'purpose': 'honeymoon', 'age_group': '30'}",honeymoon,30,N
3,460,Netherlands,Volendam,4.83,154,41,가이드 투어,"히트호른, 폴른담, 풍차마을",작은 베네치아라는 별명을 가진 히트호른 마을과 네덜란드에서 가장 아름다운 전통의상을...,장거리 운전이라 힘드셨을텐데도 친절하게 잘 안내해주시고 설명도 잘 해주셨습니다 감사...,"{'purpose': 'friends', 'age_group': '30'}",friends,30,N
4,8693,Czech Republic,Praha,4.56,2353,802,가이드 투어,"[1+1이벤트/가격할인]프라하근교차량투어""독일 드레스덴&작센의스위스""(#할인쿠폰제공#)",*안녕하세요 하이프라하입니다! 이벤트 공지사항 1+1이벤트 공지입니다.독일 드...,일단 원래 후기를 잘 적지 않는데이번은 꼭 적어야 할 것 같아요너무 만족스러운 투어...,"{'purpose': 'alone', 'age_group': '30'}",alone,30,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,46060,Egypt,Cairo,4.50,7,2,여행편의,카이로 국제공항 → 카이로 또는 기자 호텔 프라이빗 이송 서비스,본 상품은 evoucher 상품으로 '예약 내역'에서 확인되는 바우처의 출력본 혹...,카이로공항 바깥에서 이름적힌 피켓들고 있어서 쉽게 찾을 수 있었습니다. 운전기사 한...,"{'purpose': 'official', 'age_group': '30'}",official,30,N
458,42623,Egypt,hurghada.,4.00,8,2,가이드 투어,후르가다 출발 룩소르 전일 관광,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...",와 진짜..왕복 시간 너무 길었어요 솔직히 오후 여섯시에 끝날줄 알았는데 중간에 휴...,"{'purpose': 'partner', 'age_group': '30'}",partner,30,N
459,27627,Egypt,hurghada.,4.00,7,2,액티비티,후르가다: 사륜 바이크로 3시간 사막 사파리 여행,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...",좋아요생각보다 너무 오래타야해서 손이 아팠어요ㅠ 그리고 배두인 마을이 아니라 그냥 ...,"{'purpose': 'friends', 'age_group': '50'}",friends,50,N
460,46232,Egypt,Cairo,5.00,7,1,가이드 투어,"카이로 : 기자 피라미드, 스핑크스, 사카라 프라이빗 가이드 투어","본 투어는 영어로 진행됩니다. 여행 확인증이 아닌, 영어로 된 바우처를 지참하셔야...",친절한 가이드와 자세한 역사적인 설명을 들을 수 있었던 시간이었습니다. 추천드립니다.,"{'purpose': 'alone', 'age_group': '20'}",alone,20,N
461,46067,Egypt,Cairo,5.00,5,1,가이드 투어,카이로: 고대 이집트 유적지 '기자 피라미드 & 멤피스 & 사카라' 투어,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...","예약자 두명과 운전기사 한명, 가이드 한명 총네명이 승용차에 타고 피라미드를 보러가...","{'purpose': 'partner', 'age_group': '30'}",partner,30,N

In [47]:
len(df_travel_clean3)

462

In [38]:
df_travel_clean3.to_csv("../DATA/TRAVEL/clean_mrt_df_final.csv", index=False)

In [31]:
grouped = df_travel['title'].groupby(df_travel['city_name'])
grouped

In [30]:
grouped.size()

country
Algeria                      1
Argentina                    8
Armenia                      9
Aruba                        1
Australia                    9
                            ..
United States of America    15
Uruguay                      2
Uzbekistan                   1
Viet Nam                     9
Zambia                      10
Name: title, Length: 105, dtype: int64

In [1]:
df_travel_01 = pd.read_csv("../DATA/TRAVEL/travel_labeling_0_229.csv")[0:115]
df_travel_02 = pd.read_csv("../DATA/TRAVEL/travel_labeling110_220.csv")
df_travel_03 = pd.read_csv("../DATA/TRAVEL/travel_labeling_345-462.csv", index_col=0)
len(df_travel_01), len(df_travel_02), len(df_travel_03)

(115, 120, 104)

In [24]:
#df_travel_02_2 = df_travel_02[['title', 'intro', 'review', 'area', 'interest', 'company']]

In [25]:
#total_travel = pd.read_csv("../DATA/TRAVEL/clean_mrt_df_final.csv")
#total_travel

In [26]:
#total_travel_2 = total_travel[['code', 'country', 'city_name', 'guide_type', 'title']]

In [27]:
#merged_tr_data = pd.merge(total_travel_2, df_travel_02_2, on='title', how='inner')

In [28]:
#merged_tr_data

In [29]:
#travel_labeling_2 = merged_tr_data[merged_tr_data['area'] != '_']

In [30]:
#travel_labeling_2.to_csv("../03_Watson/DATA/travel_labeling_2.csv", index = False)

In [32]:
df_travel_total = pd.read_csv("../DATA/TRAVEL/clean_mrt_df_final.csv")

In [33]:
df_travel_total

,code,country,city_name,score,selling_count,reviews_count,guide_type,title,intro,review,travel_purpose,purpose,age_group,drop
0,2122,Netherlands,Amsterdam,4.73,231,84,가이드 투어,국립박물관과 고흐 미술관 대표작 설명,국립박물관은 렘브란트(Rermbrandt)의 대표작 '야경꾼'을 전시하기 위한 목적...,좋긴 좋았습니다. 가이드님이 없었으면 중요 작품들이 무엇인지 알지 못했으니까요. 하...,"{'purpose': 'etc', 'age_group': '30'}",etc,30,N
1,1474,Netherlands,Amsterdam,4.61,160,49,가이드 투어,암스테르담 시내 워킹투어,암스테르담은 네덜란드의 수도로서 운치와 분위기가 있는 도시입니다.그럼에도 불구하고 ...,두명이서 다녔는데 시간을 알차게 계획하시구 또 전문성있게 잘 설명해주셔서 재밌었습니...,"{'purpose': 'official', 'age_group': '30'}",official,30,N
2,34700,Netherlands,Amsterdam,4.95,104,43,가이드 투어,네덜란드 암스테르담 시내 실속 워킹투어,암스테르담을 실속있게 둘러볼 수 있는 투어입니다. 레이오버로 암스테르담에 잠깐 들...,암스테르담에 오시면 꼭꼭 들어보기를 추천드려요! 머무르는 기간이 짧든 길든 특히 첫...,"{'purpose': 'honeymoon', 'age_group': '30'}",honeymoon,30,N
3,460,Netherlands,Volendam,4.83,154,41,가이드 투어,"히트호른, 폴른담, 풍차마을",작은 베네치아라는 별명을 가진 히트호른 마을과 네덜란드에서 가장 아름다운 전통의상을...,장거리 운전이라 힘드셨을텐데도 친절하게 잘 안내해주시고 설명도 잘 해주셨습니다 감사...,"{'purpose': 'friends', 'age_group': '30'}",friends,30,N
4,8693,Czech Republic,Praha,4.56,2353,802,가이드 투어,"[1+1이벤트/가격할인]프라하근교차량투어""독일 드레스덴&작센의스위스""(#할인쿠폰제공#)",*안녕하세요 하이프라하입니다! 이벤트 공지사항 1+1이벤트 공지입니다.독일 드...,일단 원래 후기를 잘 적지 않는데이번은 꼭 적어야 할 것 같아요너무 만족스러운 투어...,"{'purpose': 'alone', 'age_group': '30'}",alone,30,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,46060,Egypt,Cairo,4.50,7,2,여행편의,카이로 국제공항 → 카이로 또는 기자 호텔 프라이빗 이송 서비스,본 상품은 evoucher 상품으로 '예약 내역'에서 확인되는 바우처의 출력본 혹...,카이로공항 바깥에서 이름적힌 피켓들고 있어서 쉽게 찾을 수 있었습니다. 운전기사 한...,"{'purpose': 'official', 'age_group': '30'}",official,30,N
458,42623,Egypt,hurghada.,4.00,8,2,가이드 투어,후르가다 출발 룩소르 전일 관광,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...",와 진짜..왕복 시간 너무 길었어요 솔직히 오후 여섯시에 끝날줄 알았는데 중간에 휴...,"{'purpose': 'partner', 'age_group': '30'}",partner,30,N
459,27627,Egypt,hurghada.,4.00,7,2,액티비티,후르가다: 사륜 바이크로 3시간 사막 사파리 여행,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...",좋아요생각보다 너무 오래타야해서 손이 아팠어요ㅠ 그리고 배두인 마을이 아니라 그냥 ...,"{'purpose': 'friends', 'age_group': '50'}",friends,50,N
460,46232,Egypt,Cairo,5.00,7,1,가이드 투어,"카이로 : 기자 피라미드, 스핑크스, 사카라 프라이빗 가이드 투어","본 투어는 영어로 진행됩니다. 여행 확인증이 아닌, 영어로 된 바우처를 지참하셔야...",친절한 가이드와 자세한 역사적인 설명을 들을 수 있었던 시간이었습니다. 추천드립니다.,"{'purpose': 'alone', 'age_group': '20'}",alone,20,N
461,46067,Egypt,Cairo,5.00,5,1,가이드 투어,카이로: 고대 이집트 유적지 '기자 피라미드 & 멤피스 & 사카라' 투어,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...","예약자 두명과 운전기사 한명, 가이드 한명 총네명이 승용차에 타고 피라미드를 보러가...","{'purpose': 'partner', 'age_group': '30'}",partner,30,N

In [34]:
df_travel_labeling = pd.read_csv("../DATA/TRAVEL/travel_labeling_final.csv")

In [35]:
df_travel_labeling.columns

Index(['country', 'city_name', 'score', 'selling_count', 'reviews_count',
       'guide_type', 'title', 'intro', 'review', 'travel_purpose', 'purpose',
       'age_group', 'area', 'company', 'interest'],
      dtype='object')

In [37]:
df_travel_labeling2 = df_travel_labeling[['title', 'area', 'company', 'interest']]

In [38]:
df_travel_merged  = pd.merge(total_travel, df_travel_labeling2, on='title', how='inner')

In [42]:

df_travel_merged

,code,country,city_name,score,selling_count,reviews_count,guide_type,title,intro,review,travel_purpose,purpose,age_group,drop,area,company,interest
0,2122,Netherlands,Amsterdam,4.73,231,84,가이드 투어,국립박물관과 고흐 미술관 대표작 설명,국립박물관은 렘브란트(Rermbrandt)의 대표작 '야경꾼'을 전시하기 위한 목적...,좋긴 좋았습니다. 가이드님이 없었으면 중요 작품들이 무엇인지 알지 못했으니까요. 하...,"{'purpose': 'etc', 'age_group': '30'}",etc,30,N,도시,혼자,Ar
1,1474,Netherlands,Amsterdam,4.61,160,49,가이드 투어,암스테르담 시내 워킹투어,암스테르담은 네덜란드의 수도로서 운치와 분위기가 있는 도시입니다.그럼에도 불구하고 ...,두명이서 다녔는데 시간을 알차게 계획하시구 또 전문성있게 잘 설명해주셔서 재밌었습니...,"{'purpose': 'official', 'age_group': '30'}",official,30,N,도시,혼자,Ex
2,34700,Netherlands,Amsterdam,4.95,104,43,가이드 투어,네덜란드 암스테르담 시내 실속 워킹투어,암스테르담을 실속있게 둘러볼 수 있는 투어입니다. 레이오버로 암스테르담에 잠깐 들...,암스테르담에 오시면 꼭꼭 들어보기를 추천드려요! 머무르는 기간이 짧든 길든 특히 첫...,"{'purpose': 'honeymoon', 'age_group': '30'}",honeymoon,30,N,도시,허니문,Ar
3,460,Netherlands,Volendam,4.83,154,41,가이드 투어,"히트호른, 폴른담, 풍차마을",작은 베네치아라는 별명을 가진 히트호른 마을과 네덜란드에서 가장 아름다운 전통의상을...,장거리 운전이라 힘드셨을텐데도 친절하게 잘 안내해주시고 설명도 잘 해주셨습니다 감사...,"{'purpose': 'friends', 'age_group': '30'}",friends,30,N,자연,친구,Ex
4,8693,Czech Republic,Praha,4.56,2353,802,가이드 투어,"[1+1이벤트/가격할인]프라하근교차량투어""독일 드레스덴&작센의스위스""(#할인쿠폰제공#)",*안녕하세요 하이프라하입니다! 이벤트 공지사항 1+1이벤트 공지입니다.독일 드...,일단 원래 후기를 잘 적지 않는데이번은 꼭 적어야 할 것 같아요너무 만족스러운 투어...,"{'purpose': 'alone', 'age_group': '30'}",alone,30,N,자연,혼자,Ex
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,59787,Cambodia,Siem Reap,4.67,13,6,가이드 투어,시엠립 : 톤레삽 호수 & 깜퐁 플럭 수상 마을 투어,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...",잘 다녀왓습니다~ 이국적인 풍경을 볼수 있어서 좋았네요ㅋ건기 때 가서 수상가옥은 못...,"{'purpose': 'children', 'age_group': '40'}",children,40,N,자연,가족,Ex
359,38589,Cambodia,Siem Reap,4.67,13,6,가이드 투어,씨엠립 : 앙코르와트 소규모 그룹 일일투어,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...",very good for short trip plan더웠지만 그래도 당연히 해야하는...,"{'purpose': 'partner', 'age_group': '30'}",partner,30,N,자연,가족,Ex
360,38589,Cambodia,Siem Reap,4.67,13,6,가이드 투어,씨엠립 : 앙코르와트 소규모 그룹 일일투어,"본 투어는 영어로 진행되며, 다국적 여행자들과 함께하는 단체 투어로 진행됩니다. ...",very good for short trip plan더웠지만 그래도 당연히 해야하는...,"{'purpose': 'partner', 'age_group': '30'}",partner,30,N,자연,가족,Ex
361,22031,Thailand,Bangkok,4.51,1932,483,가이드 투어,[마리트x몽키트래블] 아유타야 선셋 투어,[투어 핵심 포인트] 1. 세계문화유산으로 등재 되어있는 태국 고대도시 아유타야를 ...,한국어를 능숙하게 하시는 현지 가이드 분들이 진행하는 투어 포인트에서 이쁜 추억을 ...,"{'purpose': 'lover', 'age_group': '20'}",lover,20,N,자연,허니문,Ex
362,22031,Thailand,Bangkok,4.51,1932,483,가이드 투어,[마리트x몽키트래블] 아유타야 선셋 투어,[투어 핵심 포인트] 1. 세계문화유산으로 등재 되어있는 태국 고대도시 아유타야를 ...,한국어를 능숙하게 하시는 현지 가이드 분들이 진행하는 투어 포인트에서 이쁜 추억을 ...,"{'purpose': 'lover', 'age_group': '20'}",lover,20,N,자연,허니문,Ex

In [44]:
df_travel_merged.to_csv("../02_Recommendation/DATA/labeled_travel_data_363.csv")